/*Default Settings*/

/*Ha lehet defaultot ne nagyon editeld, mert kihat az összes oldalra, ha editeled akkor nezd meg hogy változott-e valami a többi oldalon is!*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    margin: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: #0E1C40;
}

/*Navigator Section*/

.navigator{
    background-color: #333D71;
    width: 25%;
    height: 100%;
}

/*Profile Section*/

.profile-content{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    height: 25vh;
}

.profile-content img{
    border-radius: 50%;
    height: 12vh;
    width: 12vh;
}

.profile-text{
    width: 56%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3vh;
}

#profile-manager{
    color: #C5C3C3;
}

#profile-name{
    margin: 0;
    font-size: 23px;
    color: #ECECEC;
}

/*Navigator Text Section*/

.nav-text{
    display: flex;
    flex-direction:column;
    margin-left: 11vh;
    color: #E6E6E6;
    font-size: 23px;
    margin-top: 3vh;
}

.nav-text p{
    cursor: pointer;
    transition: ease-in-out 0.1s;
}

.nav-text p.active, .nav-text p:hover{
    color: #091932;
}

.sign-out{
    display: flex;
    flex-direction:column;
    margin-left: 11vh;
    color: #B0B0B0;
    cursor: pointer;
    text-decoration: underline;
    font-size: 20px;
    margin-top: 6vh;
}

/*Discover Section*/

.discover{
    width: 75%;
    height: 100%;
}